<section class="preferences clearfix">

	<ul class="first clearfix">
		<li class="heading" id="pref-acc-heading">
			Account
		</li>
		<li class="heading" id="pref-notif-heading">
			Notifications
		</li>
		<li class="heading" id="pref-priv-heading"> 
			Privacy
		</li>
	</ul>

<section class="pref-acc">	
	<ul class="acc-second clearfix">
		<li class="first-set acc-email">
			<ul class="clearfix">
				<li><h2>Email</h2> </li>
				<li><span>ericericsson@gymrat.com</span> </li>
				<li><a href="#">Change Email</a></li>
			</ul>
		</li>
		<li class="first-set acc-password">
			<ul>
				<li><h2>Password</h2></li>
				<li><span>&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;</span></li>
				<li><a href="">Change password</a></li>
			</ul>
		</li>
		<li class="first-set acc-secur">
			<ul>
				<li><h2>Security</h2></li>
				<li>
					<h4>Enable Two-Factor Authentication</h4>
					<p>Two-factor authentication makes it extra difficult for
unwanted people to access your account</p>
				</li>
				<li><input type="checkbox" name="my-checkbox" checked></li>
			</ul>	
		</li>
		<li class="acc-lang">
			<ul>
				<li><h2>Language</h2></li>
				<li><span>English <i class="fa fa-angle-down"></i></span></li>
				<li></li>
			</ul>
		</li>
		<li class="acc-loc">
			<ul>
				<li><h2>Location</h2></li>
				<li>
					<h4>Set Your Location (optional)</h4>
					<p>Location settings help Pulseband to more accurately track your health data.</p>
					
				</li>
				<li><a href="">Set Location</a></li>
			</ul>
		</li>
	</ul>
</section>
	
	<section class="pref-notif">
		<div class="notif-first">
			<h2>Send me emails about: </h2>
			<ul>
				<li><input type="checkbox" name="my-checkbox" checked> New Tasks</li>
				<li><input type="checkbox" name="my-checkbox" checked> New Appointments</li>
				<li><input type="checkbox" name="my-checkbox" checked>New Challenges</li>
				<li><input type="checkbox" name="my-checkbox" checked>Completed Challenges</li>
				<li><input type="checkbox" name="my-checkbox" checked>Bloodwork Updates</li>
			</ul>
		</div>

		<div class="notif-second">
			<h2>Pulseband News:</h2>
			<ul>
				<li><input type="checkbox" name="my-checkbox" checked>Send me emails about Pulseband updates and news.</li>
			</ul>
		</div>

	</section>

	<section class="pref-priv clearfix">
		<h1>Set who can view your health data: </h1>
		<ul>
			<li>Name</li>
			<li>Erik</li>
			<li>Erika</li>
			<li>Erikson</li>
		</ul>
		<ul>
			<li>Email</li>
			<li>erikericsson@email.com</li>
			<li>erikaericsson@email.com</li>
			<li>eriksonericsson@email.com</li>
		</ul>
		<ul>
			<li>Relationship</li>
			<li>Father</li>
			<li>Mother</li>
			<li>Doctor</li>
		</ul>
		<ul class="priv-edit">
			<li> -</li>
			<li><span>Edit</span></li>
			<li><span>Edit</span></li>
			<li><span>Edit</span></li>
		</ul>

		<ul class="priv-mobile">
			<li>Erik</li>
			<li>erikericsson@email.com</li>
			<li>Father</li>
			<li><span>Edit</span></li>
		</ul>

		<ul class="priv-mobile">
			<li>Erika</li>
			<li>erikaericsson@email.com</li>
			<li>Mother</li>
			<li><span>Edit</span></li>
		</ul>

		<ul class="priv-mobile">
			<li>Erikson</li>
			<li>eriksonericsson@gemail.com</li>
			<li>Doctor</li>
			<li><span>Edit</span></li>
		</ul>

		<a href="">Add more</a>
	</section>

</section>

<script src="js/main/preferences/bootstrap-switch.js"></script>
<script src="js/main/preferences/bootstrap-switch.min.js"></script>
<script src="js/main/preferences/preferences.js"></script>
