<section class="profile-header fade-in one">
	<header>
		<div><div class="image-overlay"><img src="img/user_icon.png" alt="User icon"><p>Edit profile picture</p></div></div>
		<h1>Eric Ericsson</h1>
		<p>Los Angeles, California | Young Gym Rat <br>
			Unlock the Swag, the Swag Unlock</p>
	</header>
</section>

<section class="profile-body fade-in two">
	<section class="goals">
		<h2>Goals</h2>
		<ul>
			<li>Walk 10,000 steps a day <span><i class="fa fa-pencil-square-o"></i></span></li>
			<li>Lower my blood pressure by 10% <span><i class="fa fa-pencil-square-o"></i></span></li>
			<li>Lose 10 pounds <span><i class="fa fa-pencil-square-o"></i></span></li>
			<li class="add-goal">Add Goal</li>
		</ul>
	</section>

	<section class="related-links">
		<ul>
			<li><a href="#healthdata">View Recent Health Data <i class="fa fa-angle-right"></i></a></li>
			<li><a href="#challenges">View Completed Challenges <i class="fa fa-angle-right"></i></a></li>
			<li><a href="#preferences">Edit Your Settings <i class="fa fa-angle-right"></i></a></li>
		</ul>
	</section>

</section>

<script src="js/main/profile/profile.js"></script>